<h1>Edit an existing director <%= @the_director.dob  %></h1>

<form action="http://localhost:3000/update_director/<%= @the_director.id %>">
  <div>
    <label for="name">Name:</label>
    <input id="name" type="text" name="the_name" value="<%= @the_director.name %>">
  </div>
  <div>
    <label for="bio">Bio:</label>
    <input id="bio" type="text" name="the_bio" value="<%= @the_director.bio %>">
  </div>
  <div>
    <label for="dob">DOB:</label>
    <input id="dob" type="text" name="the_dob" value="<%= @the_director.dob %>">
  </div>
  <div>
    <label for="image_url">Image URL:</label>
    <input id="image_url" type="text" name="the_image_url" value="<%= @the_director.image_url %>">
  </div>
  <div>
    <button>Edit director</button>
  </div>
</form>
